body {
	display: inline-block;
	text-align: center;
	background-color: black;
	background-image: url(../images/gamebackground.png);
	background-repeat: no-repeat;
	font-family: 'Gloria Hallelujah', cursive;
	color:white;
	background-size: 100%;

}

button {
	background-color: white;
	color:black;
}
h1{
	text-align: center;
	margin-bottom: 5px;

}

nav ul li{
	display: inline-block;
}
h2{
	margin:0px;
	padding: 0px;
}
#game-board-container{
	width: 700px;
	height: 900px;

}

.squares{
	border: 5px solid white;
	width:200px;
	height:200px;
	margin:0px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	background-color: black;
	color:white;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 50px;
	bottom:10px;
}

