body {
	display: inline-block;
	text-align: center;
	/*background-image: url(../images/background.jpg);*/
	background-repeat: no-repeat;
}

h1{
	text-align: center;
}

nav ul li{
	display: inline-block;
}

#game-board-container{
	width: 700px;
	height: 900px;

}

.squares{
	border: 5px solid black;
	width:200px;
	height:200px;
	margin:0px;
	padding: 0px;
	display: inline-block;
	text-align: center;
}

